[MESSAGE CONTROL]
disable=logging-fstring-interpolation,duplicate-code,missing-module-docstring,use-dict-literal,use-list-literal,invalid-name,too-many-locals,too-few-public-methods,unspecified-encoding,missing-function-docstring,consider-using-f-string,missing-class-docstring,subprocess-run-check,too-many-arguments

[FORMAT]
max-line-length=120
